/* ADD YOUR STYLES HERE */

/*DataTale:*/

.DataTable th, .DataTable td {
	padding: 15px 100px 15px 10px;
}

.DataTable th, .DataTable tr{
	border-bottom: 1px solid gray;
}

.DataTable tr:last-child {
	border-bottom: none;
}


/*Stats:*/

.Stats tr {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.Stats td {
	padding: 15px;
	text-align: center;
}

.Number {
	font-style: bold;
	font-size: 2em;
}

.Label {
	font-size: 0.8em;
	color: gray;
}

/*BarChart:*/

.BarChart td {
	width: 100%;
	/*text-align: right;*/
}

.BarChart th {
	padding-right: 30px;
	text-align: right;
}

.BarChart div {
	background-color: blue;
	color: white;
}

.barChart td, .barChart tr {
	border-bottom: none;
}